<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hundsun.accountingsystem.Global.mapper.KJKMMapper">
    <resultMap id="userMap" type="com.hundsun.accountingsystem.Global.bean.KJKM">
        <id property="id" column="id"/>
        <result property="parent_id" column="parent_id"/>
        <result property="name" column="name"/>
        <result property="lending_direction" column="lending_direction"/>
        <result property="level" column="level"/>
        <result property="is_parent" column="is_parent"/>

    </resultMap>
    <insert id="insertKJKM" parameterType="com.hundsun.accountingsystem.Global.bean.KJKM">
        insert into t_kjkmb (id,parent_id,name,lending_direction,level,is_parent) VALUES(#{id},#{parent_id},#{name},#{lending_direction},#{level},#{is_parent});
    </insert>
    <delete id="deleteKJKM" parameterType="String">
        delete from t_kjkmb where id=#{id};
    </delete>
    <update id="updateKJKM" parameterType="com.hundsun.accountingsystem.Global.bean.KJKM">
      update t_kjkmb set parent_id=#{parent_id},name=#{name},lending_direction=#{lending_direction},level=#{level},is_parent=#{is_parent} where id=#{id};
    </update>
    <select id="findOneKJKM" parameterType="String" resultType="com.hundsun.accountingsystem.Global.bean.KJKM">
      select * from k_kjkmb where id=#{id};
	</select>
    <select id="findAllKJKM">
      select * from k_kjkmb;
    </select>


</mapper>