<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hundsun.accountingsystem.Global.mapper.TCcyebMapper">
    <!-- TCcyeb的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="result_TCcyeb_Map" type="com.hundsun.accountingsystem.Global.bean.TCcyeb">
        <id column="id" property="id" />
        <result column="cysl" property="cysl" />
        <result column="ljgz" property="ljgz" />
        <result column="extendc" property="extendc" />
        <result column="extendb" property="extendb" />
        <result column="extenda" property="extenda" />
        <result column="zqnm" property="zqnm" />
        <result column="zqcb" property="zqcb" />
        <result column="kjkmdm" property="kjkmdm" />
        <result column="zqdm" property="zqdm" />
        <result column="ztbh" property="ztbh" />
        <result column="fsrq" property="fsrq" />
        <result column="ljjx" property="ljjx" />
    </resultMap>

    <!-- 更新持仓库累计估值 -->
    <update id="update_ljgz" parameterType="com.hundsun.accountingsystem.Global.bean.TCcyeb">
        update t_ccyeb
        set
        ljgz = #{ljgz} + ljgz
        where  zqdm = #{zqdm}
        and    ztbh = #{ztbh}
    </update>

    <!-- 更新持仓库流通类型 -->
    <update id="update_ltlx" parameterType="com.hundsun.accountingsystem.Global.bean.TCcyeb">
        update t_ccyeb
        set
        extenda = 11
        where  zqdm = #{zqdm}
        and    ztbh = #{ztbh}
    </update>

    <!-- 更新持仓库持有数量和extenda -->
    <update id="update_cysl" parameterType="com.hundsun.accountingsystem.Global.bean.TCcyeb">
        update t_ccyeb
        set
            cysl = #{cysl} + cysl,
            extenda = 13,
            ljgz = 0.00
           where  zqdm = #{zqdm}
    </update>

	   <!-- Assist用于辅助工具类setRequires设置的条件,${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
    <sql id="Assist">
        <where>
            <foreach collection="require" item="req" separator=" ">
                ${req.require} 
                <if test="req.value != null"> #{req.value}</if> 
                <if test="req.values != null">
                    <foreach collection="req.values" item="val" separator=","> 
                        #{val} 
                    </foreach> 
                </if> 
                <if test="req.suffix != null"> ${req.suffix}</if> 
            </foreach>
        </where>
    </sql>

	   <!-- updateAssist用于更新数据的使用它拓展自Assist,用于辅助工具类setRequires设置的条件,${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
    <sql id="updateAssist">
        <where>
            <foreach collection="assist.require" item="req" separator=" ">
                ${req.require} 
                <if test="req.value != null"> #{req.value}</if> 
                <if test="req.values != null">
                    <foreach collection="req.values" item="val" separator=","> 
                        #{val} 
                    </foreach> 
                </if> 
                <if test="req.suffix != null"> ${req.suffix}</if> 
            </foreach>
        </where>
    </sql>

    <!-- 数据库中表名为:t_ccyeb的列名,as前是数据库的列明,as后是列的别名用于映射成实体类中的属性,需要注意的是别名必须与resultMap中的column别名一致 -->
    <sql id="t_ccyeb_Column">
        t_ccyeb.id as id
        ,t_ccyeb.cysl as cysl
        ,t_ccyeb.ljgz as ljgz
        ,t_ccyeb.extendc as extendc
        ,t_ccyeb.extendb as extendb
        ,t_ccyeb.extenda as extenda
        ,t_ccyeb.zqnm as zqnm
        ,t_ccyeb.zqcb as zqcb
        ,t_ccyeb.kjkmdm as kjkmdm
        ,t_ccyeb.zqdm as zqdm
        ,t_ccyeb.ztbh as ztbh
        ,t_ccyeb.fsrq as fsrq
        ,t_ccyeb.ljjx as ljjx
    </sql>

    <!--获得类名为:TCcyeb对应的数据库表的数据总行数 -->
    <select id="getTCcyebRowCount" parameterType="com.hundsun.accountingsystem.Global.bean.Assist" resultType="java.lang.Long">
        select count(id) from t_ccyeb
        <if test="require!=null"><include refid="Assist" /></if>
    </select>
    <!-- 获得类名为:TCcyeb对应数据库中表的数据集合 -->
    <select id="selectTCcyeb" parameterType="com.hundsun.accountingsystem.Global.bean.Assist"  resultMap="result_TCcyeb_Map">
        select  <if test="distinct !=null">${distinct}</if>
        <choose>
            <when test="resultColumn!=null">${resultColumn}</when>
            <otherwise>
        <include refid="t_ccyeb_Column" /> 
            </otherwise>
        </choose>
        from t_ccyeb
        <choose>
            <when test="rowSize ==null">
                <if test="require!=null">
                    <include refid="Assist" />
                </if>
                <if test="order !=null">${order}</if>
            </when>
            <otherwise>
                inner join
                (
                SELECT id as primary_key FROM t_ccyeb
                <if test="require!=null">
                    <include refid="Assist" />
                </if>
                <if test="order !=null">${order}</if>
                <choose>
                    <when test="startRow !=null and rowSize !=null">LIMIT #{startRow},#{rowSize} </when>
                    <when test="rowSize !=null">LIMIT #{rowSize}</when>
                 </choose>
                 ) as tmp
                 on tmp.primary_key=t_ccyeb.id
            </otherwise>
        </choose>
    </select> 

    <!-- 获得一个TCcyeb对象,以参数TCcyeb对象中不为空的属性作为条件进行查询-->
    <select id="selectTCcyebByObj" parameterType="com.hundsun.accountingsystem.Global.bean.TCcyeb" resultMap="result_TCcyeb_Map">
        select 
            <include refid="t_ccyeb_Column" /> 
        from t_ccyeb
        <where>
            <if test="ljjx != null "> and t_ccyeb.ljjx = #{ljjx}</if>
            <if test="fsrq != null "> and t_ccyeb.fsrq = #{fsrq}</if>
            <if test="ztbh != null "> and t_ccyeb.ztbh = #{ztbh}</if>
            <if test="zqdm != null "> and t_ccyeb.zqdm = #{zqdm}</if>
            <if test="kjkmdm != null "> and t_ccyeb.kjkmdm = #{kjkmdm}</if>
            <if test="zqcb != null "> and t_ccyeb.zqcb = #{zqcb}</if>
            <if test="zqnm != null "> and t_ccyeb.zqnm = #{zqnm}</if>
            <if test="extenda != null "> and t_ccyeb.extenda = #{extenda}</if>
            <if test="extendb != null "> and t_ccyeb.extendb = #{extendb}</if>
            <if test="extendc != null "> and t_ccyeb.extendc = #{extendc}</if>
            <if test="ljgz != null "> and t_ccyeb.ljgz = #{ljgz}</if>
            <if test="cysl != null "> and t_ccyeb.cysl = #{cysl}</if>
            <if test="id != null "> and t_ccyeb.id = #{id}</if>
        </where>
    </select> 

    <!-- 通过TCcyeb的id获得对应数据库中表的数据对象-->
    <select id="selectTCcyebById" parameterType="java.lang.Integer" resultMap="result_TCcyeb_Map">
        select 
            <include refid="t_ccyeb_Column" /> 
        from t_ccyeb
        where t_ccyeb.id = #{id}
    </select> 

    <!-- 将TCcyeb插入到对应数据库的表中,包括属性值为null的数据-->

    <insert id="insertTCcyeb" parameterType="com.hundsun.accountingsystem.Global.bean.TCcyeb">
        insert into t_ccyeb(id,cysl,ljgz,extendc,extendb,extenda,zqnm,zqcb,kjkmdm,zqdm,ztbh,fsrq,ljjx) 
        values(#{id},#{cysl},#{ljgz},#{extendc},#{extendb},#{extenda},#{zqnm},#{zqcb},#{kjkmdm},#{zqdm},#{ztbh},#{fsrq},#{ljjx})
    </insert>

    <!-- 将TCcyeb中属性值不为null的数据,插入到对应数据库的表中-->
    <insert id="insertNonEmptyTCcyeb" parameterType="com.hundsun.accountingsystem.Global.bean.TCcyeb">
        insert into t_ccyeb
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="cysl != null">cysl,</if>
            <if test="ljgz != null">ljgz,</if>
            <if test="extendc != null">extendc,</if>
            <if test="extendb != null">extendb,</if>
            <if test="extenda != null">extenda,</if>
            <if test="zqnm != null">zqnm,</if>
            <if test="zqcb != null">zqcb,</if>
            <if test="kjkmdm != null">kjkmdm,</if>
            <if test="zqdm != null">zqdm,</if>
            <if test="ztbh != null">ztbh,</if>
            <if test="fsrq != null">fsrq,</if>
            <if test="ljjx != null">ljjx,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id},</if>
            <if test="cysl != null"> #{cysl},</if>
            <if test="ljgz != null"> #{ljgz},</if>
            <if test="extendc != null"> #{extendc},</if>
            <if test="extendb != null"> #{extendb},</if>
            <if test="extenda != null"> #{extenda},</if>
            <if test="zqnm != null"> #{zqnm},</if>
            <if test="zqcb != null"> #{zqcb},</if>
            <if test="kjkmdm != null"> #{kjkmdm},</if>
            <if test="zqdm != null"> #{zqdm},</if>
            <if test="ztbh != null"> #{ztbh},</if>
            <if test="fsrq != null"> #{fsrq},</if>
            <if test="ljjx != null"> #{ljjx},</if>
        </trim>
    </insert>

    <!-- 将TCcyeb批量插入到对应数据库的表中-->
    <insert id="insertTCcyebByBatch" parameterType="ArrayList">
        insert into t_ccyeb(id,cysl,ljgz,extendc,extendb,extenda,zqnm,zqcb,kjkmdm,zqdm,ztbh,fsrq,ljjx) values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.id},#{item.cysl},#{item.ljgz},#{item.extendc},#{item.extendb},#{item.extenda},#{item.zqnm},#{item.zqcb},#{item.kjkmdm},#{item.zqdm},#{item.ztbh},#{item.fsrq},#{item.ljjx})
        </foreach>
    </insert>

    <!-- 通过TCcyeb的id将数据库表中对应的数据删除-->
    <delete id="deleteTCcyebById" parameterType="java.lang.Integer">
        delete from t_ccyeb
        where id = #{id}
    </delete>

    <!-- 通过辅助工具Assist中的条件将TCcyeb对应的数据库表的数据删除-->
    <delete id="deleteTCcyeb" parameterType="com.hundsun.accountingsystem.Global.bean.Assist">
        delete from t_ccyeb
        <if test="require!=null"><include refid="Assist" /></if>
    </delete>

    <!-- 通过TCcyeb的id将TCcyeb的数据更新到数据库中对应的表,包括值null的数据-->
    <update id="updateTCcyebById" parameterType="com.hundsun.accountingsystem.Global.bean.TCcyeb">
        update t_ccyeb set
            cysl=#{cysl}
            ,ljgz=#{ljgz}
            ,extendc=#{extendc}
            ,extendb=#{extendb}
            ,extenda=#{extenda}
            ,zqnm=#{zqnm}
            ,zqcb=#{zqcb}
            ,kjkmdm=#{kjkmdm}
            ,zqdm=#{zqdm}
            ,ztbh=#{ztbh}
            ,fsrq=#{fsrq}
            ,ljjx=#{ljjx}
        where id=#{id}
    </update>

    <!-- 通过TCcyeb的id将TCcyeb中属性值不为null的数据更新到数据库对应的表中-->
    <update id="updateNonEmptyTCcyebById" parameterType="com.hundsun.accountingsystem.Global.bean.TCcyeb">
        update t_ccyeb
        <set>
            <if test="cysl != null">
                cysl = #{cysl},
            </if>
            <if test="ljgz != null">
                ljgz=#{ljgz},
            </if>
            <if test="extendc != null">
                extendc=#{extendc},
            </if>
            <if test="extendb != null">
                extendb=#{extendb},
            </if>
            <if test="extenda != null">
                extenda=#{extenda},
            </if>
            <if test="zqnm != null">
                zqnm=#{zqnm},
            </if>
            <if test="zqcb != null">
                zqcb=#{zqcb},
            </if>
            <if test="kjkmdm != null">
                kjkmdm=#{kjkmdm},
            </if>
            <if test="zqdm != null">
                zqdm=#{zqdm},
            </if>
            <if test="ztbh != null">
                ztbh=#{ztbh},
            </if>
            <if test="fsrq != null">
                fsrq=#{fsrq},
            </if>
            <if test="ljjx != null">
                ljjx=#{ljjx},
            </if>
        </set>
        where id=#{id}
    </update>

    <!-- 通过辅助工具Assist中的条件将TCcyeb中的数据更新到数据库对应的表中,包括值为null的数据-->
    <update id="updateTCcyeb" parameterType="map">
        update t_ccyeb
        <set>
                id=#{enti.id},
                cysl=#{enti.cysl},
                ljgz=#{enti.ljgz},
                extendc=#{enti.extendc},
                extendb=#{enti.extendb},
                extenda=#{enti.extenda},
                zqnm=#{enti.zqnm},
                zqcb=#{enti.zqcb},
                kjkmdm=#{enti.kjkmdm},
                zqdm=#{enti.zqdm},
                ztbh=#{enti.ztbh},
                fsrq=#{enti.fsrq},
                ljjx=#{enti.ljjx},
        </set>
        <if test="assist.require!=null"><include refid="updateAssist" /></if>
    </update>

    <!-- 通过辅助工具Assist中的条件将TCcyeb中属性值不为null的数据更新到数据库对应的表中-->
    <update id="updateNonEmptyTCcyeb" parameterType="map">
        update t_ccyeb
        <set>
            <if test="enti.id != null">
                id=#{enti.id},
            </if>
            <if test="enti.cysl != null">
                cysl=#{enti.cysl},
            </if>
            <if test="enti.ljgz != null">
                ljgz=#{enti.ljgz},
            </if>
            <if test="enti.extendc != null">
                extendc=#{enti.extendc},
            </if>
            <if test="enti.extendb != null">
                extendb=#{enti.extendb},
            </if>
            <if test="enti.extenda != null">
                extenda=#{enti.extenda},
            </if>
            <if test="enti.zqnm != null">
                zqnm=#{enti.zqnm},
            </if>
            <if test="enti.zqcb != null">
                zqcb=#{enti.zqcb},
            </if>
            <if test="enti.kjkmdm != null">
                kjkmdm=#{enti.kjkmdm},
            </if>
            <if test="enti.zqdm != null">
                zqdm=#{enti.zqdm},
            </if>
            <if test="enti.ztbh != null">
                ztbh=#{enti.ztbh},
            </if>
            <if test="enti.fsrq != null">
                fsrq=#{enti.fsrq},
            </if>
            <if test="enti.ljjx != null">
                ljjx=#{enti.ljjx},
            </if>
        </set>
        <if test="assist.require!=null"><include refid="updateAssist" /></if>
    </update>

</mapper>