<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hundsun.accountingsystem.Global.mapper.TCjhbbMapper" >
  <resultMap id="BaseResultMap" type="com.hundsun.accountingsystem.Global.bean.TCjhbb" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="gddm" property="gddm" jdbcType="VARCHAR" />
    <result column="xwbh" property="xwbh" jdbcType="VARCHAR" />
    <result column="zqdm" property="zqdm" jdbcType="VARCHAR" />
    <result column="jysc" property="jysc" jdbcType="INTEGER" />
    <result column="cjsl" property="cjsl" jdbcType="INTEGER" />
    <result column="cjjg" property="cjjg" jdbcType="DOUBLE" />
    <result column="cjje" property="cjje" jdbcType="DOUBLE" />
    <result column="mmfx" property="mmfx" jdbcType="VARCHAR" />
    <result column="ztbh" property="ztbh" jdbcType="INTEGER" />
    <result column="ywrq" property="ywrq" jdbcType="TIMESTAMP" />
    <result column="ywlb" property="ywlb" jdbcType="INTEGER" />
    <result column="extenda" property="extenda" jdbcType="VARCHAR" />
    <result column="extendb" property="extendb" jdbcType="VARCHAR" />
    <result column="extendc" property="extendc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, gddm, xwbh, zqdm, jysc, cjsl, cjjg, cjje, mmfx, ztbh, ywrq, ywlb, extenda, extendb, 
    extendc
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hundsun.accountingsystem.Global.bean.TCjhbbExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_cjhbb
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_cjhbb
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_cjhbb
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hundsun.accountingsystem.Global.bean.TCjhbbExample" >
    delete from t_cjhbb
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hundsun.accountingsystem.Global.bean.TCjhbb" >
    insert into t_cjhbb (id, gddm, xwbh, 
      zqdm, jysc, cjsl, cjjg, 
      cjje, mmfx, ztbh, ywrq, 
      ywlb, extenda, extendb, 
      extendc)
    values (#{id,jdbcType=INTEGER}, #{gddm,jdbcType=VARCHAR}, #{xwbh,jdbcType=VARCHAR}, 
      #{zqdm,jdbcType=VARCHAR}, #{jysc,jdbcType=INTEGER}, #{cjsl,jdbcType=INTEGER}, #{cjjg,jdbcType=DOUBLE}, 
      #{cjje,jdbcType=DOUBLE}, #{mmfx,jdbcType=VARCHAR}, #{ztbh,jdbcType=INTEGER}, #{ywrq,jdbcType=TIMESTAMP}, 
      #{ywlb,jdbcType=INTEGER}, #{extenda,jdbcType=VARCHAR}, #{extendb,jdbcType=VARCHAR}, 
      #{extendc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hundsun.accountingsystem.Global.bean.TCjhbb" >
    insert into t_cjhbb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gddm != null" >
        gddm,
      </if>
      <if test="xwbh != null" >
        xwbh,
      </if>
      <if test="zqdm != null" >
        zqdm,
      </if>
      <if test="jysc != null" >
        jysc,
      </if>
      <if test="cjsl != null" >
        cjsl,
      </if>
      <if test="cjjg != null" >
        cjjg,
      </if>
      <if test="cjje != null" >
        cjje,
      </if>
      <if test="mmfx != null" >
        mmfx,
      </if>
      <if test="ztbh != null" >
        ztbh,
      </if>
      <if test="ywrq != null" >
        ywrq,
      </if>
      <if test="ywlb != null" >
        ywlb,
      </if>
      <if test="extenda != null" >
        extenda,
      </if>
      <if test="extendb != null" >
        extendb,
      </if>
      <if test="extendc != null" >
        extendc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gddm != null" >
        #{gddm,jdbcType=VARCHAR},
      </if>
      <if test="xwbh != null" >
        #{xwbh,jdbcType=VARCHAR},
      </if>
      <if test="zqdm != null" >
        #{zqdm,jdbcType=VARCHAR},
      </if>
      <if test="jysc != null" >
        #{jysc,jdbcType=INTEGER},
      </if>
      <if test="cjsl != null" >
        #{cjsl,jdbcType=INTEGER},
      </if>
      <if test="cjjg != null" >
        #{cjjg,jdbcType=DOUBLE},
      </if>
      <if test="cjje != null" >
        #{cjje,jdbcType=DOUBLE},
      </if>
      <if test="mmfx != null" >
        #{mmfx,jdbcType=VARCHAR},
      </if>
      <if test="ztbh != null" >
        #{ztbh,jdbcType=INTEGER},
      </if>
      <if test="ywrq != null" >
        #{ywrq,jdbcType=TIMESTAMP},
      </if>
      <if test="ywlb != null" >
        #{ywlb,jdbcType=INTEGER},
      </if>
      <if test="extenda != null" >
        #{extenda,jdbcType=VARCHAR},
      </if>
      <if test="extendb != null" >
        #{extendb,jdbcType=VARCHAR},
      </if>
      <if test="extendc != null" >
        #{extendc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hundsun.accountingsystem.Global.bean.TCjhbbExample" resultType="java.lang.Integer" >
    select count(*) from t_cjhbb
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_cjhbb
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.gddm != null" >
        gddm = #{record.gddm,jdbcType=VARCHAR},
      </if>
      <if test="record.xwbh != null" >
        xwbh = #{record.xwbh,jdbcType=VARCHAR},
      </if>
      <if test="record.zqdm != null" >
        zqdm = #{record.zqdm,jdbcType=VARCHAR},
      </if>
      <if test="record.jysc != null" >
        jysc = #{record.jysc,jdbcType=INTEGER},
      </if>
      <if test="record.cjsl != null" >
        cjsl = #{record.cjsl,jdbcType=INTEGER},
      </if>
      <if test="record.cjjg != null" >
        cjjg = #{record.cjjg,jdbcType=DOUBLE},
      </if>
      <if test="record.cjje != null" >
        cjje = #{record.cjje,jdbcType=DOUBLE},
      </if>
      <if test="record.mmfx != null" >
        mmfx = #{record.mmfx,jdbcType=VARCHAR},
      </if>
      <if test="record.ztbh != null" >
        ztbh = #{record.ztbh,jdbcType=INTEGER},
      </if>
      <if test="record.ywrq != null" >
        ywrq = #{record.ywrq,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ywlb != null" >
        ywlb = #{record.ywlb,jdbcType=INTEGER},
      </if>
      <if test="record.extenda != null" >
        extenda = #{record.extenda,jdbcType=VARCHAR},
      </if>
      <if test="record.extendb != null" >
        extendb = #{record.extendb,jdbcType=VARCHAR},
      </if>
      <if test="record.extendc != null" >
        extendc = #{record.extendc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_cjhbb
    set id = #{record.id,jdbcType=INTEGER},
      gddm = #{record.gddm,jdbcType=VARCHAR},
      xwbh = #{record.xwbh,jdbcType=VARCHAR},
      zqdm = #{record.zqdm,jdbcType=VARCHAR},
      jysc = #{record.jysc,jdbcType=INTEGER},
      cjsl = #{record.cjsl,jdbcType=INTEGER},
      cjjg = #{record.cjjg,jdbcType=DOUBLE},
      cjje = #{record.cjje,jdbcType=DOUBLE},
      mmfx = #{record.mmfx,jdbcType=VARCHAR},
      ztbh = #{record.ztbh,jdbcType=INTEGER},
      ywrq = #{record.ywrq,jdbcType=TIMESTAMP},
      ywlb = #{record.ywlb,jdbcType=INTEGER},
      extenda = #{record.extenda,jdbcType=VARCHAR},
      extendb = #{record.extendb,jdbcType=VARCHAR},
      extendc = #{record.extendc,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hundsun.accountingsystem.Global.bean.TCjhbb" >
    update t_cjhbb
    <set >
      <if test="gddm != null" >
        gddm = #{gddm,jdbcType=VARCHAR},
      </if>
      <if test="xwbh != null" >
        xwbh = #{xwbh,jdbcType=VARCHAR},
      </if>
      <if test="zqdm != null" >
        zqdm = #{zqdm,jdbcType=VARCHAR},
      </if>
      <if test="jysc != null" >
        jysc = #{jysc,jdbcType=INTEGER},
      </if>
      <if test="cjsl != null" >
        cjsl = #{cjsl,jdbcType=INTEGER},
      </if>
      <if test="cjjg != null" >
        cjjg = #{cjjg,jdbcType=DOUBLE},
      </if>
      <if test="cjje != null" >
        cjje = #{cjje,jdbcType=DOUBLE},
      </if>
      <if test="mmfx != null" >
        mmfx = #{mmfx,jdbcType=VARCHAR},
      </if>
      <if test="ztbh != null" >
        ztbh = #{ztbh,jdbcType=INTEGER},
      </if>
      <if test="ywrq != null" >
        ywrq = #{ywrq,jdbcType=TIMESTAMP},
      </if>
      <if test="ywlb != null" >
        ywlb = #{ywlb,jdbcType=INTEGER},
      </if>
      <if test="extenda != null" >
        extenda = #{extenda,jdbcType=VARCHAR},
      </if>
      <if test="extendb != null" >
        extendb = #{extendb,jdbcType=VARCHAR},
      </if>
      <if test="extendc != null" >
        extendc = #{extendc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hundsun.accountingsystem.Global.bean.TCjhbb" >
    update t_cjhbb
    set gddm = #{gddm,jdbcType=VARCHAR},
      xwbh = #{xwbh,jdbcType=VARCHAR},
      zqdm = #{zqdm,jdbcType=VARCHAR},
      jysc = #{jysc,jdbcType=INTEGER},
      cjsl = #{cjsl,jdbcType=INTEGER},
      cjjg = #{cjjg,jdbcType=DOUBLE},
      cjje = #{cjje,jdbcType=DOUBLE},
      mmfx = #{mmfx,jdbcType=VARCHAR},
      ztbh = #{ztbh,jdbcType=INTEGER},
      ywrq = #{ywrq,jdbcType=TIMESTAMP},
      ywlb = #{ywlb,jdbcType=INTEGER},
      extenda = #{extenda,jdbcType=VARCHAR},
      extendb = #{extendb,jdbcType=VARCHAR},
      extendc = #{extendc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <delete id="deleteByDate" parameterType="com.hundsun.accountingsystem.Global.VO.TCjhbbParamPojo" >
    delete from t_cjhbb
    WHERE DATE(ywrq) BETWEEN #{startDate} AND #{endDate}
  </delete>
</mapper>