<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hundsun.accountingsystem.Global.mapper.TZqxxMapper" >
  <resultMap id="BaseResultMap" type="com.hundsun.accountingsystem.Global.bean.TZqxx" >
    <id column="zqnm" property="zqnm" jdbcType="INTEGER" />
    <result column="zqdm" property="zqdm" jdbcType="VARCHAR" />
    <result column="zqlb" property="zqlb" jdbcType="INTEGER" />
    <result column="sclb" property="sclb" jdbcType="INTEGER" />
    <result column="zqjg" property="zqjg" jdbcType="VARCHAR" />
    <result column="zgb" property="zgb" jdbcType="DOUBLE" />
    <result column="ltgs" property="ltgs" jdbcType="DOUBLE" />
    <result column="mgmz" property="mgmz" jdbcType="DOUBLE" />
    <result column="fxrq" property="fxrq" jdbcType="TIMESTAMP" />
    <result column="dqrq" property="dqrq" jdbcType="TIMESTAMP" />
    <result column="hgts" property="hgts" jdbcType="INTEGER" />
    <result column="njxts" property="njxts" jdbcType="DOUBLE" />
    <result column="nll" property="nll" jdbcType="DOUBLE" />
    <result column="qxr" property="qxr" jdbcType="TIMESTAMP" />
    <result column="fxfs" property="fxfs" jdbcType="INTEGER" />
    <result column="fxjg" property="fxjg" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    zqnm, zqdm, zqlb, sclb, zqjg, zgb, ltgs, mgmz, fxrq, dqrq, hgts, njxts, nll, qxr, 
    fxfs, fxjg
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hundsun.accountingsystem.Global.bean.TZqxxExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_zqxx
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_zqxx
    where zqnm = #{zqnm,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_zqxx
    where zqnm = #{zqnm,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hundsun.accountingsystem.Global.bean.TZqxxExample" >
    delete from t_zqxx
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hundsun.accountingsystem.Global.bean.TZqxx" >
    insert into t_zqxx (zqnm, zqdm, zqlb, 
      sclb, zqjg, zgb, ltgs, 
      mgmz, fxrq, dqrq, 
      hgts, njxts, nll, qxr, 
      fxfs, fxjg)
    values (#{zqnm,jdbcType=INTEGER}, #{zqdm,jdbcType=VARCHAR}, #{zqlb,jdbcType=INTEGER}, 
      #{sclb,jdbcType=INTEGER}, #{zqjg,jdbcType=VARCHAR}, #{zgb,jdbcType=DOUBLE}, #{ltgs,jdbcType=DOUBLE}, 
      #{mgmz,jdbcType=DOUBLE}, #{fxrq,jdbcType=TIMESTAMP}, #{dqrq,jdbcType=TIMESTAMP}, 
      #{hgts,jdbcType=INTEGER}, #{njxts,jdbcType=DOUBLE}, #{nll,jdbcType=DOUBLE}, #{qxr,jdbcType=TIMESTAMP}, 
      #{fxfs,jdbcType=INTEGER}, #{fxjg,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.hundsun.accountingsystem.Global.bean.TZqxx" >
    insert into t_zqxx
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="zqnm != null" >
        zqnm,
      </if>
      <if test="zqdm != null" >
        zqdm,
      </if>
      <if test="zqlb != null" >
        zqlb,
      </if>
      <if test="sclb != null" >
        sclb,
      </if>
      <if test="zqjg != null" >
        zqjg,
      </if>
      <if test="zgb != null" >
        zgb,
      </if>
      <if test="ltgs != null" >
        ltgs,
      </if>
      <if test="mgmz != null" >
        mgmz,
      </if>
      <if test="fxrq != null" >
        fxrq,
      </if>
      <if test="dqrq != null" >
        dqrq,
      </if>
      <if test="hgts != null" >
        hgts,
      </if>
      <if test="njxts != null" >
        njxts,
      </if>
      <if test="nll != null" >
        nll,
      </if>
      <if test="qxr != null" >
        qxr,
      </if>
      <if test="fxfs != null" >
        fxfs,
      </if>
      <if test="fxjg != null" >
        fxjg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="zqnm != null" >
        #{zqnm,jdbcType=INTEGER},
      </if>
      <if test="zqdm != null" >
        #{zqdm,jdbcType=VARCHAR},
      </if>
      <if test="zqlb != null" >
        #{zqlb,jdbcType=INTEGER},
      </if>
      <if test="sclb != null" >
        #{sclb,jdbcType=INTEGER},
      </if>
      <if test="zqjg != null" >
        #{zqjg,jdbcType=VARCHAR},
      </if>
      <if test="zgb != null" >
        #{zgb,jdbcType=DOUBLE},
      </if>
      <if test="ltgs != null" >
        #{ltgs,jdbcType=DOUBLE},
      </if>
      <if test="mgmz != null" >
        #{mgmz,jdbcType=DOUBLE},
      </if>
      <if test="fxrq != null" >
        #{fxrq,jdbcType=TIMESTAMP},
      </if>
      <if test="dqrq != null" >
        #{dqrq,jdbcType=TIMESTAMP},
      </if>
      <if test="hgts != null" >
        #{hgts,jdbcType=INTEGER},
      </if>
      <if test="njxts != null" >
        #{njxts,jdbcType=DOUBLE},
      </if>
      <if test="nll != null" >
        #{nll,jdbcType=DOUBLE},
      </if>
      <if test="qxr != null" >
        #{qxr,jdbcType=TIMESTAMP},
      </if>
      <if test="fxfs != null" >
        #{fxfs,jdbcType=INTEGER},
      </if>
      <if test="fxjg != null" >
        #{fxjg,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hundsun.accountingsystem.Global.bean.TZqxxExample" resultType="java.lang.Integer" >
    select count(*) from t_zqxx
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_zqxx
    <set >
      <if test="record.zqnm != null" >
        zqnm = #{record.zqnm,jdbcType=INTEGER},
      </if>
      <if test="record.zqdm != null" >
        zqdm = #{record.zqdm,jdbcType=VARCHAR},
      </if>
      <if test="record.zqlb != null" >
        zqlb = #{record.zqlb,jdbcType=INTEGER},
      </if>
      <if test="record.sclb != null" >
        sclb = #{record.sclb,jdbcType=INTEGER},
      </if>
      <if test="record.zqjg != null" >
        zqjg = #{record.zqjg,jdbcType=VARCHAR},
      </if>
      <if test="record.zgb != null" >
        zgb = #{record.zgb,jdbcType=DOUBLE},
      </if>
      <if test="record.ltgs != null" >
        ltgs = #{record.ltgs,jdbcType=DOUBLE},
      </if>
      <if test="record.mgmz != null" >
        mgmz = #{record.mgmz,jdbcType=DOUBLE},
      </if>
      <if test="record.fxrq != null" >
        fxrq = #{record.fxrq,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dqrq != null" >
        dqrq = #{record.dqrq,jdbcType=TIMESTAMP},
      </if>
      <if test="record.hgts != null" >
        hgts = #{record.hgts,jdbcType=INTEGER},
      </if>
      <if test="record.njxts != null" >
        njxts = #{record.njxts,jdbcType=DOUBLE},
      </if>
      <if test="record.nll != null" >
        nll = #{record.nll,jdbcType=DOUBLE},
      </if>
      <if test="record.qxr != null" >
        qxr = #{record.qxr,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fxfs != null" >
        fxfs = #{record.fxfs,jdbcType=INTEGER},
      </if>
      <if test="record.fxjg != null" >
        fxjg = #{record.fxjg,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_zqxx
    set zqnm = #{record.zqnm,jdbcType=INTEGER},
      zqdm = #{record.zqdm,jdbcType=VARCHAR},
      zqlb = #{record.zqlb,jdbcType=INTEGER},
      sclb = #{record.sclb,jdbcType=INTEGER},
      zqjg = #{record.zqjg,jdbcType=VARCHAR},
      zgb = #{record.zgb,jdbcType=DOUBLE},
      ltgs = #{record.ltgs,jdbcType=DOUBLE},
      mgmz = #{record.mgmz,jdbcType=DOUBLE},
      fxrq = #{record.fxrq,jdbcType=TIMESTAMP},
      dqrq = #{record.dqrq,jdbcType=TIMESTAMP},
      hgts = #{record.hgts,jdbcType=INTEGER},
      njxts = #{record.njxts,jdbcType=DOUBLE},
      nll = #{record.nll,jdbcType=DOUBLE},
      qxr = #{record.qxr,jdbcType=TIMESTAMP},
      fxfs = #{record.fxfs,jdbcType=INTEGER},
      fxjg = #{record.fxjg,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hundsun.accountingsystem.Global.bean.TZqxx" >
    update t_zqxx
    <set >
      <if test="zqdm != null" >
        zqdm = #{zqdm,jdbcType=VARCHAR},
      </if>
      <if test="zqlb != null" >
        zqlb = #{zqlb,jdbcType=INTEGER},
      </if>
      <if test="sclb != null" >
        sclb = #{sclb,jdbcType=INTEGER},
      </if>
      <if test="zqjg != null" >
        zqjg = #{zqjg,jdbcType=VARCHAR},
      </if>
      <if test="zgb != null" >
        zgb = #{zgb,jdbcType=DOUBLE},
      </if>
      <if test="ltgs != null" >
        ltgs = #{ltgs,jdbcType=DOUBLE},
      </if>
      <if test="mgmz != null" >
        mgmz = #{mgmz,jdbcType=DOUBLE},
      </if>
      <if test="fxrq != null" >
        fxrq = #{fxrq,jdbcType=TIMESTAMP},
      </if>
      <if test="dqrq != null" >
        dqrq = #{dqrq,jdbcType=TIMESTAMP},
      </if>
      <if test="hgts != null" >
        hgts = #{hgts,jdbcType=INTEGER},
      </if>
      <if test="njxts != null" >
        njxts = #{njxts,jdbcType=DOUBLE},
      </if>
      <if test="nll != null" >
        nll = #{nll,jdbcType=DOUBLE},
      </if>
      <if test="qxr != null" >
        qxr = #{qxr,jdbcType=TIMESTAMP},
      </if>
      <if test="fxfs != null" >
        fxfs = #{fxfs,jdbcType=INTEGER},
      </if>
      <if test="fxjg != null" >
        fxjg = #{fxjg,jdbcType=DOUBLE},
      </if>
    </set>
    where zqnm = #{zqnm,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hundsun.accountingsystem.Global.bean.TZqxx" >
    update t_zqxx
    set zqdm = #{zqdm,jdbcType=VARCHAR},
      zqlb = #{zqlb,jdbcType=INTEGER},
      sclb = #{sclb,jdbcType=INTEGER},
      zqjg = #{zqjg,jdbcType=VARCHAR},
      zgb = #{zgb,jdbcType=DOUBLE},
      ltgs = #{ltgs,jdbcType=DOUBLE},
      mgmz = #{mgmz,jdbcType=DOUBLE},
      fxrq = #{fxrq,jdbcType=TIMESTAMP},
      dqrq = #{dqrq,jdbcType=TIMESTAMP},
      hgts = #{hgts,jdbcType=INTEGER},
      njxts = #{njxts,jdbcType=DOUBLE},
      nll = #{nll,jdbcType=DOUBLE},
      qxr = #{qxr,jdbcType=TIMESTAMP},
      fxfs = #{fxfs,jdbcType=INTEGER},
      fxjg = #{fxjg,jdbcType=DOUBLE}
    where zqnm = #{zqnm,jdbcType=INTEGER}
  </update>
</mapper>