<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hundsun.accountingsystem.Global.mapper.UserMapper">
    <resultMap id="userMap" type="com.hundsun.accountingsystem.Global.bean.SysUser">
        <id property="uid" column="uid"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="compangy" column="compangy"/>
        <collection property="roles" ofType="com.hundsun.accountingsystem.Global.bean.SysRole">
            <result column="rid" property="rid"/>
            <result column="name" property="name"/>
        </collection>

    </resultMap>
    <select id="findByUserName" parameterType="String" resultMap="userMap">
		select u.*
		,r.*
		from sys_user u,sys_role_user sru,sys_role r
        where u.uid= sru.sys_user_id
        and sru.sys_role_id=r.rid
        and username= #{username}
	</select>
    <update id="updatePwd" parameterType="com.hundsun.accountingsystem.Global.bean.SysUser">
		update sys_user set password = #{password} where uid =#{uid}
	</update>


</mapper>