<div>
     <!-- 凭证浏览开始 -->
     <div class="layui-row layui-col-space15">
       <div class="layui-col-md12">
         <div class="layui-card">
           <div class="layui-card-header">凭证浏览</div>
           <div class="layui-card-body">
			<table id="faultInfo" class="layui-table">
			  <thead>
			    <tr><th>账套</th><th>日期</th><th>科目代码</th><th>科目名称</th>
			    <th>摘要</th><th>借贷</th><th>借方金额</th><th>贷方金额</th></tr>
			  </thead>
			  <tbody>
			  	<tr><td>AA</td><td>BB</td><td>CC</td><td>DD</td><td>EE</td><td>FF</td><td>GG</td><td>HH</td></tr>
			  	<tr><td>AA</td><td>BB</td><td>CC</td><td>DD</td><td>EE</td><td>FF</td><td>GG</td><td>HH</td></tr>
			  	<tr><td>AA</td><td>BB</td><td>CC</td><td>DD</td><td>EE</td><td>FF</td><td>GG</td><td>HH</td></tr>
			  </tbody>
			  <tfoot></tfoot>
			</table>             
           </div><!-- layui-card-body结束 -->
         </div>
       </div>     
     </div>
     <!-- 凭证浏览结束 -->




</div>