<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>资产估值与会计核算系统</title>
  <link rel="icon" href="img/gzlogo.png" type="image/x-icon" />
  <link rel="stylesheet" href="layui/css/layui.css">
  <!-- jquery -->
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Echart -->
  <script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts.min.js"></script>
  <!-- DateTables -->
  <script src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
</head>
<body class="layui-layout-body" ng-app="app">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">资产估值与会计核算系统</div>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img"> 青城
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
          <dd><a href="">安全退出</a></dd>
        </dl>
      </li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item"><a href="#!/">仪表盘</a></li>
        <li class="layui-nav-item">
          <a class="" href="javascript:;">基础设置</a>
          <dl class="layui-nav-child">
            <dd><a href="#!/accounting">账套管理</a></dd>
            <dd><a href="#!/printers">席位设置</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href="#!/voucher">凭证管理</a></li>
        <li class="layui-nav-item"><a href="">发布商品</a></li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
  	<div style="padding: 20px; background-color: #F2F2F2;">
     	<!-- 内容主体区域 -->
     	<div ng-view></div>
  	</div>
  </div>	
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
  </div>
</div>
<script src="layui/layui.all.js"></script>
<script src="https://cdn.staticfile.org/angular.js/1.7.0/angular.min.js"></script>
<script src="https://cdn.staticfile.org/angular.js/1.7.0/angular-route.min.js"></script>
<script src="admin.js"></script>
</body>
</html>